<h1><center>Dictionary</center></h1>

In [2]:
names=['Ramesh','Suresh','Sathish']
age=[20,22,24]
empty=[]
for i in zip(names,age):
    print(i)

('Ramesh', 20)
('Suresh', 22)
('Sathish', 24)

In [4]:
for i,j in zip(names,age):
    print(f"{i} age is {j}")

Ramesh age is 20
Suresh age is 22
Sathish age is 24

# Dictionary :

- Dictionary is a key value pair

- whenever any values are coming together then think about dictionary

- Dictionary is in **curly braces** with pair {key:value}

- In above example : {'Ramesh':20 , 'Suresh':22 , 'Mahesh':24}

- **Keys always plays a vital role**

In [9]:
dict1={'Ramesh':20,'Suresh':22,'Mahesh':24}
dict1

{'Ramesh': 20, 'Suresh': 22, 'Mahesh': 24}

In [11]:
dict2={20:'Ramesh',22:'Suresh',24:'Mahesh'}
dict2

{20: 'Ramesh', 22: 'Suresh', 24: 'Mahesh'}

In [13]:
dict3={'20':'Ramesh','22':'Suresh','24':'Mahesh'}
dict3

{'20': 'Ramesh', '22': 'Suresh', '24': 'Mahesh'}

In [15]:
dict4={20:20,22:22,24:24}
dict4

{20: 20, 22: 22, 24: 24}

In [21]:
dict5={'Ramesh':20,'Ramesh':22}
dict5

{'Ramesh': 22}

In [23]:
dict6={'Ramesh':20,'Ramesh':20}
dict6

{'Ramesh': 20}

In [25]:
dict7={'Ramesh':20,'Suresh':20}
dict7

{'Ramesh': 20, 'Suresh': 20}

In [29]:
dict8={'Ramesh':20,20:'Suresh','Sathish':True,False:True}
dict8

{'Ramesh': 20, 20: 'Suresh', 'Sathish': True, False: True}

In [31]:
dict9={'Names':['R','A','M']}
dict9

{'Names': ['R', 'A', 'M']}

In [33]:
dict10={['R','A','M']:'Names'}
dict10

TypeError: unhashable type: 'list'

In [49]:
dict15={'Names':('R','A','M')}
dict16={('R','A','M'):'Names'}
dict16

{('R', 'A', 'M'): 'Names'}

In [35]:
dict11={'Names':('R','A','M')}
dict11

{'Names': ('R', 'A', 'M')}

In [41]:
dict12={('R','A','M'):'Names'}
dict12

{('R', 'A', 'M'): 'Names'}

In [43]:
dict13={}
dict13

{}

In [45]:
dict14={{'Ramesh':20}:21}
dict14

TypeError: unhashable type: 'dict'

- **List** are **mutable**

- **tuple** are **immutable**

- in dictionary keys are important

- The keys should not change using index

- Thats why **list** as key **fails**, **tuple** as key **works**

In [68]:
dict1={'Ramesh':20,'Suresh':22,'Mahesh':24}
dict2={20:'Ramesh',22:'Suresh',24:'Mahesh'}
print(max(dict1),min(dict1),sorted(dict1),reversed(dict1))
print()
print(max(dict2),min(dict2),sorted(dict2),reversed(dict2))

Suresh Mahesh ['Mahesh', 'Ramesh', 'Suresh'] <dict_reversekeyiterator object at 0x000002A9462F8D60>

24 20 [20, 22, 24] <dict_reversekeyiterator object at 0x000002A9462FA070>

In [72]:
for i in dict1:
    print(i)

Ramesh
Suresh
Mahesh

In [74]:
dict1+dict2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

# index :

In [77]:
dict1={'Ramesh':20,'Suresh':22,'Mahesh':24}
dict1

{'Ramesh': 20, 'Suresh': 22, 'Mahesh': 24}

In [79]:
dict1={'Ramesh':20,'Suresh':22,'Mahesh':24}
dict1[0]

KeyError: 0

# We will access the values using **keys**

In [81]:
# We will access the values using keys
dict1['Ramesh']

20

In [83]:
dict1['Suresh']

22

In [85]:
dict1['Mahesh']

24

In [87]:
for i in dict1:
    print(i,dict1[i])

Ramesh 20
Suresh 22
Mahesh 24

In [91]:
s=''
s=s+'a'
s

'a'

In [97]:
l=[]
for i in range(5):
    l.append(i)
l

[0, 1, 2, 3, 4]

In [101]:
d={}       # l=[]
d['Ramesh']=20    # l.append(10)
d['Suresh']=22    # l.append(20)
d['Mahesh']=24    # l.append(20)
d

#d[i]=j

{'Ramesh': 20, 'Suresh': 22, 'Mahesh': 24}

In [113]:
dict1={'Ramesh':20,'Suresh':22,'Mahesh':24}
names=[]
age=[]
for i in dict1:
    names.append(i)
    age.append(dict1[i])

names,age

(['Ramesh', 'Suresh', 'Mahesh'], [20, 22, 24])

In [139]:
dict1={'Ramesh':20,'Suresh':22,'Mahesh':24}
print(dict1.items())
print(dict1.keys())
print(dict1.values())
print(dict1.get('Mahesh'))
print(dict1.pop('Suresh'))
print(dict1.popitem())
print(dict1.update(dict2))

dict_items([('Ramesh', 20), ('Suresh', 22), ('Mahesh', 24)])
dict_keys(['Ramesh', 'Suresh', 'Mahesh'])
dict_values([20, 22, 24])
24
22
('Mahesh', 24)
None

In [ ]:
'fromkeys',
'setdefault'
Lambda functions

In [ ]:
Method - 1 : Only For Loop

In [ ]:
l = [<write my code>]
l = [<output> <forloop>]

In [ ]:
Method - 2 : For Loop with if

In [ ]:
# [<output> <forLoop>
# [<output> <if cond> <for Loop> ]

In [ ]:
Method - 3 : if-else

In [ ]:
# for: [<output> <forLoop>
# for if : [<if output> <if cond> <else> <else output> <for Loop> ]