In [ ]:
tax claulation ==== 4 lines

100 employees === 100*4=400 lines

idea: 4 lines === 1 line (function)  === 100times(loop) 
100*1=100

1 line ==== 100line s

In [1]:
print(1)
print(2)
print(3)
print(4)
print(5)

print(i)

1
2
3
4
5

In [3]:
for i in range(5):
    print(i)

0
1
2
3
4

- same code we are using : Function

- multiple times we are using : loop

- every loop we need three pointers

    - Intialization

    - Increament or decrement

    - Condition to stop

- We have two types of loops

    - for : is used to when we know how many time the loops should run

    - while: is used when we dont know how many times

        - but we know that the loop should run till condition True

**For loop**

**Case1: range(stop)**

- when we see a format range(value)

- start value by default 0

- By default increment by +1

- last value= stop-1

- range(10)

- start= 0  increment=1  last= 10-1=9  0,1,2,3,4,5,6,7,8,9

In [ ]:
print(0)
print(1)
print(2)
print(3)    # range(4)

print(i)

In [8]:
for i in range(4):
    print(i)

0
1
2
3

In [ ]:
print('hello')
print('hello')
print('hello')   # range(2)

print('hello')

In [12]:
for i in range(3):
    print('hello')

hello
hello
hello

In [ ]:
for i in range(4):
    print(i)

for i in range(4):
    print('hello')

In [ ]:
# wap ask the use print the square of the number from 0 to 4
# wap ask the user enter a number and print squre of the number
#              the user should enter 4 times
# wap ask the user get a random number and print square of the number
#              the user should get 4 times random number

In [14]:
for i in range(0,5):
    print(f'the square of {i} is {i*i}')

the square of 0 is 0
the square of 1 is 1
the square of 2 is 4
the square of 3 is 9
the square of 4 is 16

In [18]:
for i in range(0,5):
    print(f"{i} time")
    num=eval(input('enter the num:'))
    print(f'the square of {num} is {num*num}')

0 time

enter the num: 7

the square of 7 is 49
1 time

enter the num: 9

the square of 9 is 81
2 time

enter the num: 7

the square of 7 is 49
3 time

enter the num: 7

the square of 7 is 49
4 time

enter the num: 8

the square of 8 is 64

In [20]:
import random
for i in range(0,5):
    num=random.randint(1,100)
    print(f'the square of {num} is {num*num}')

the square of 98 is 9604
the square of 79 is 6241
the square of 97 is 9409
the square of 63 is 3969
the square of 7 is 49

In [ ]:
for i in range(5):
    print(f'the square of {i} is {i*i}')

for i in range(5):
    print(f"{i} time")
    num=eval(input('enter the num:'))
    print(f'the square of {num} is {num*num}')

import random
for i in range(5):
    num=random.randint(1,100)
    print(f'the square of {num} is {num*num}')

In [22]:
for i in range(5):
    print(f'the square of {i} is {i*i}')

the square of 0 is 0
the square of 1 is 1
the square of 2 is 4
the square of 3 is 9
the square of 4 is 16

In [ ]:
range(5)  # s=0 1 last 4

**Case2: range(start,stop)**

- when we see a format range(value1,value2)

- start = start

- By default increment by +1

- last value= stop-1

- range(5,10)

- start= 5  increment=1  last= 10-1=9  5,6,7,8,9

In [28]:
for i in range(5,10):
    print(i,end=' ')

5 6 7 8 9

In [30]:
print(5,end=' ')
print(6)

5 6

In [32]:
for i in range(20,25):
    print(f'the square of {i} is {i*i}')

the square of 20 is 400
the square of 21 is 441
the square of 22 is 484
the square of 23 is 529
the square of 24 is 576

In [38]:
for i in range(221,224):
    num=eval(input('enter the num:'))
    print(f'the square of {num} is {num*num}')

enter the num: 10

the square of 10 is 100

enter the num: 20

the square of 20 is 400

enter the num: 30

the square of 30 is 900

In [ ]:
for i in range(221,224): ====> rotation

**Case3: range(start,stop,step)**

- when we see a format range(value1,value2,value3)

- start = start

- step:

    - if step is a postive number consider as increment

        - assume that step=2  increament +2
    
        - last value= stop-1

    - if step is a negative number consider as decrement

        - assume that step=-2 decrement -2

        - last value= stop+1

In [43]:
# range(2,20,3)
# start=2
# step=3
# last=stop-1: 20-1=19
#2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

#2     5     8      11       14       17   
for i in range(2,20,3):
    print(i,end=' ')

2 5 8 11 14 17

In [47]:
# range(20,7,-2)
# start=20
# step =-2
# last= stop+1 = 7+1=8

# 20  19  18  17  16  15  14  13  12  11  10  9   8
# 20      18      16      14      12      10      8

for i in range(20,7,-2):
    print(i,end=' ')

20 18 16 14 12 10 8

In [49]:
# range(2,20,-2)
# start=2
# step=-2
# last=stop+1= 20+1=21

for i in range(2,20,-2):
    print(i)

In [51]:
for i in range(20,2,2):
    print(i)

In [ ]:
range(-20,2,-2)  # NP
range(-20,2,2)  # P

In [ ]:
range(3,15,3) # P
range(3,15,-3) # NP
range(3,-15,3)  # NP
range(3,-15,-3) # P
range(-3,15,3)  # P
range(-3,15,-3)  # NP
range(-3,-15,3)  # NP
range(-3,-15,-3)  # P
range(15,3,3)  # NP
range(15,3,-3)  # P
range(15,-3,3)  # NP
range(15,-3,-3) # P
range(-15,3,3)  # P
range(-15,-3,-3) # NP

In [1]:
for i in range(25,-22,-2):
    print(i,end=' ')

25 23 21 19 17 15 13 11 9 7 5 3 1 -1 -3 -5 -7 -9 -11 -13 -15 -17 -19 -21

In [ ]:
# WAP ask the user print the 7th table
# 7x1=7
# 7x2=14
#
# 7x10=80

# WAP ask the user find the number of divisiors of 75
# idea if i divide 75 with any number the reminder should be zero

In [7]:
num=eval(input('enter the table num:'))
for i in range(1,11):
    print(f"{num}x{i}={num*i}")

enter the table num: 7

7x1=7
7x2=14
7x3=21
7x4=28
7x5=35
7x6=42
7x7=49
7x8=56
7x9=63
7x10=70

In [9]:
# WAP ask the user find the number of divisiors of 75
# idea if i divide 75 with any number the reminder should be zero
# 75%1==0
# 75%2==0
# 75%3==0

# 75%75

# 75%i==0

for i in range(1,76):
    if 75%i==0:
        print(i)
# step-1:  i=1  if 75%1==0  T   print(1)
# step-2:  i=2  if 75%2==0  F
# step-3: i=3   if 75%3==0  T   print(3)

1
3
5
15
25
75

**Summation wrapper**

- if we want to perform any summation opertaion using loops

- first intilaise summ=0 (if you want to start with zero)

- update the summ inside loop using the variable i  summ=summ+i

In [ ]:
# WAP ask the user find sum of First 10 natural numbers
1+2+3+4+5+6+7+8+9+10=55

0+1=1
1+2=3
3+3=6
6+4=10
10+5=15
15+6=21
21+7=28
28+8=36
36+9=45
45+10=55

a+b=c

In [15]:
summ=0
for i in range(1,11):
    summ=summ+i
    print(summ)

# step-1: summ=0  i=1  summ=0+1=1   print(1)
# step-2: summ=1  i=2  summ=1+2=3   print(3)

1
3
6
10
15
21
28
36
45
55

In [17]:
summ=0
for i in range(1,11):
    summ=summ+i
    
print(summ)

55

In [19]:
for i in range(4):
    print(i)

0
1
2
3

In [21]:
i

3

In [ ]:
# wap ask the user get some of even numbers between 1 to 100
# wap ask the user get some of squares between 1 to 10
# wap ask the user sum of numbers of digit
#   digit=1234  ans=1+2+3+4=10

In [25]:
summ=0
for i in range(1,101):
    if i%2==0:
        summ+=i  # summ=summ+i
print(summ)

2550

In [29]:
even_summ=0
odd_summ=0
for i in range(1,101):
    if i%2==0:
        even_summ=even_summ+i # even_summ+=i
    else:
        odd_summ+=i
print('even_summ:',even_summ)
print('odd_summ:',odd_summ)

even_summ: 2550
odd_summ: 2500

In [33]:
# WAP ask the user get 5 random numbers
# get the summ of even and odds
from random import randint
even_summ=0
odd_summ=0
for i in range(5):
    num=randint(1,100)
    if num%2==0:
        print('even_num:',num)
        even_summ=even_summ+num # even_summ+=i
    else:
        print('odd_num:',num)
        odd_summ+=num
print('even_summ:',even_summ)
print('odd_summ:',odd_summ)

# step-1: i=0  num=62 if 62%2==0 T eve=0+62=62

even_num: 62
odd_num: 15
odd_num: 79
odd_num: 39
odd_num: 93
even_summ: 62
odd_summ: 226

In [37]:
e_s=0
o_s=0
for i in range(5):
    num=randint(1,100)
    if num%2==0:
        print('even_num:',num)
        e_s=e_s+num
        
    else:
        print('odd_num:',num)
        o_s=o_s+num

odd_num: 5
even_num: 56
odd_num: 69
even_num: 14
even_num: 52

In [39]:
for i in range(3):
    print('helo')

helo
helo
helo

**counter**

In [50]:
even_count,odd_count=0,0
for i in range(5):
    num=randint(1,100)
    if num%2==0:
        print('even_num:',num) 
        even_count=even_count+1
    else:
        print('odd_num:',num)
        odd_count=odd_count+1

print(even_count)
print(odd_count)

even_num: 34
even_num: 34
even_num: 4
even_num: 44
odd_num: 41
4
1

In [ ]:
count=0
for i in range(5):
    num=randint(1,100)
    if num%2==0:
        print('even_num:',num) 
        count=count+1
        

print(count)

**in operator**

In [55]:
'p' in 'python'
'y' in 'python'
't' in 'python'

# i in 'python'

True

- we need to access the numbers using **range** 

- we need to access the char using only **in**

- in operator gives the direct assignment

In [ ]:
for i in range(1,10)  # w
for i in range('python') # f
for i in 12345   # f
for i in 'python' # w
for i in '12345'  # w
str1='python'
for i in str1   # w

In [60]:
for i in 'python':
    print(i,end=' ')

p y t h o n

In [62]:
for i in '12345':
    print(i,end=' ')

1 2 3 4 5

In [64]:
str1='python'
for i in str1:
    print(i)

p
y
t
h
o
n

In [66]:
# even odd code
num=eval(input('enter the number:'))
if num%2==0:
    print('even')
else:
    print('odd')

enter the number: 20

even

In [68]:
# 70 === 30
even_summ=0   # even_summ=even_summ+i
odd_summ=0
for i in range(5): # 1
    num=eval(input('enter the number:')) # 2
    if num%2==0:  # 3
        print('even') # 4
        even_summ=even_summ+num
    else:  # 5
        print('odd') # 6
        odd_summ=odd_summ+num

enter the number: 20

even

enter the number: 22

even

enter the number: 23

odd

enter the number: 25

odd

enter the number: 26

even