In [ ]:
=========================== Python Basic level ===========================
1. Variables
2. Data types
3. Data type conversion (type cast)
4. print,eval,input
5. Basic codes
6. Packages information we start using packages
7. conditional statements
8. functions
9. loops

=========================== Python Intermediate Core python ===========================
10. Strings
11. List
12. Tuple
13. Sets
14. Dictionary
15. List comprehensions
16. Lambda functions
17. file handling sessions

=========================== Python Advanced OOPS ===========================
python + statistics
python + ml
python + dl
python + nlp
python + genai

**VARIABLES**

- Variable is used to stroe the values 
- and that values can be changed

In [5]:
num=100 # 100 is stored in a variable called number
num

100

In [7]:
num

100

In [9]:
print(num)

100

In [11]:
num=200
num

200

In [17]:
a=10
b=20
a
b   #Last line only we can see

20

In [15]:
a=10
b=20
print(a)
print(b)

10
20

In [21]:
a,b

(10, 20)

In [23]:
print(a),print(b)

10
20

(None, None)

In [25]:
print(a,b)

10 20

In [27]:
a=10,20
a,b=10,20
a=10,b=20
a=10

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3374097297.py, line 3)

In [39]:
a=10,20 #2 values can assign to 1 varible

In [31]:
a,b=10,20

In [33]:
a=10,b=20

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1138183328.py, line 1)

In [35]:
a=10

In [37]:
a,b=10

TypeError: cannot unpack non-iterable int object

In [41]:
NUMBER=100
number=200

In [43]:
number,NUMBER

(200, 100)

In [45]:
NUMBERone=300
NUMBERone

300

In [47]:
number123=500
number123   #type 'n' then enter "tab"

500

In [49]:
123number=600
123number

SyntaxError: invalid decimal literal (2634384393.py, line 1)

In [51]:
number  = 100 #work
NUMBER = 200 #work
NUMBERone = 300 #work
number123 = 400 #work
123number = 500 #fail

SyntaxError: invalid decimal literal (2361809161.py, line 5)

**SPECIAL CHARACTERS**

In [53]:
number&one = 600
number&one      #FAILS

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (4196492075.py, line 1)

In [55]:
number one=900
number one

SyntaxError: invalid syntax (3762185739.py, line 1)

In [59]:
number_one=900
number_one

900

In [65]:
_=1000
_

1000

In [69]:
number&one=200 #FAIL
number one=300 #FAIL
number_one=400 #WORK
_=500 #WORK

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3815205314.py, line 1)

In [71]:
number_one=400 # erro
_=500
number one=300
numberone=200

SyntaxError: invalid syntax (2794413473.py, line 3)

In [73]:
print=100
print

100

In [75]:
sum=100
sum

100

In [3]:
sum([1,2,3])   #Kernel -> Restart Kernel

6

In [5]:
number=100 
NUMBER=200
NUMBERone=300 
number123=400

123number=500  #FAIL
number&one=600 #FAIL
number one=700 #FAIL

number_one=800
_=900

if=1000 #FAIL

SUM=100 #WORK but don't use
print=200 #WORK but don't use

SyntaxError: invalid decimal literal (1825462829.py, line 5)

- Variables are case sensitive which means bot CAPITAL , SMALL are allowed and different
- Varibles should not start with numbers
- Special characters are not allowed in variables except underscore
- Only underscore allowed
- Keywords are not allowed as variables
- keywords are in GREEN color
- Variables are in BLACK color