**Functions**

- Functions gives an idea how to **reuse the same code** multiple times

- Assume that i want to do tax calculation code based on employee salary 

- Assume that it required 4 lines of code

- In a company 500 employees are there

- It is very bad idea if you write 4 lines to each employee  500*4=2000 lines

- To avoid this we will create function on 4lines

- we will call that function only for employee , no need of writev again 4 lines

In [ ]:
# syntax
def <function name>():
    <write your code>

In [2]:
n1=eval(input('enter the n1:'))
n2=eval(input('enter the n2:'))
add=n1+n2
print(f"the addition of {n1} and {n2} is : {add}")

enter the n1: 20
enter the n2: 30

the addition of 20 and 30 is : 50

## FUNCTION WITH OUT ARGUMENTS

- the function does not have any arguments or parameters

- the parntheses are empty

- if we provide any values while calling it throws error

In [7]:
def ADDITON():
    n1=eval(input('enter the n1:'))
    n2=eval(input('enter the n2:'))
    add=n1+n2
    print(f"the addition of {n1} and {n2} is : {add}")

In [ ]:
# function is kind of driver car
# functions is ready === driver hired
# hey driver bhai ajao

In [6]:
ADDITON

In [8]:
# calling the function
ADDITON()

enter the n1: 10
enter the n2: 20

the addition of 10 and 20 is : 30

In [10]:
import random
random

In [12]:
# Can you create a funcion avg run it
n1=eval(input('enter the n1:'))
n2=eval(input('enter the n2:'))
n3=eval(input('enter the n3:'))
avg=round((n1+n2+n3)/3,2)
print(f'the avg of {n1} {n2} and {n3} is: {avg}')

enter the n1: 2
enter the n2: 4
enter the n3: 7

the avg of 2 4 and 7 is: 4.33

- function names follow the rules same as variable rule

- function name should not same as any variable name in the notebook

- function name should not same as any package name

- pacakge names should be always at start of the code

- which means outside the function

- function name should not be same as file name

In [15]:
def Average():
    n1=eval(input('enter the n1:'))
    n2=eval(input('enter the n2:'))
    n3=eval(input('enter the n3:'))
    avg=round((n1+n2+n333)/3,2)
    print(f'the avg of {n1} {n2} and {n3} is: {avg}')

In [17]:
Average()

enter the n1: 20
enter the n2: 30
enter the n3: 40

NameError: name 'n333' is not defined

In [9]:
def Average1():
    n1=eval(input('enter the n1:'))
    n2=eval(input('enter the n2:'))
    n3=eval(input('enter the n3:'))
    avg=round((n1+n2+n3)/3,2)
    print(f'the avg of {n1} {n2} and {n3} is: {avg}')

Average1()

enter the n1: 3
enter the n2: 5
enter the n3: 6

the avg of 3 5 and 6 is: 4.67

**checkpoint-1: the function has error**

    - when we define the function it will not show any error other than syntax error

    - if we want to see the error first we need to call the function

**checkpoint-2: where can i call the function in same cell or different cell**

    - any where we can call the function

    - but make sure first define the function

    - because in VScode there is no cells , its a plane book

**checkpoint-3: How to do try and except in function**

    - write the entire function under try block

    - and call the function check error handling or not

    - use the try block inside the function on original code

    - and call the functiom error handling or not

In [ ]:
try:
    <entire code>
except

call the function

In [ ]:
def <fun>():
    try:
        <write the>
    except:

call the functions

In [22]:
try:
    def Average():
        n1=eval(input('enter the n1:'))
        n2=eval(input('enter the n2:'))
        n3=eval(input('enter the n3:'))
        avg=round((n1+n2+n333)/3,2)
        print(f'the avg of {n1} {n2} and {n3} is: {avg}')

except Exception as e:
    print(e)

Average()

enter the n1: 1
enter the n2: 2
enter the n3: 3

NameError: name 'n333' is not defined

In [24]:
def Average():
    try:
        n1=eval(input('enter the n1:'))
        n2=eval(input('enter the n2:'))
        n3=eval(input('enter the n3:'))
        avg=round((n1+n2+n333)/3,2)
        print(f'the avg of {n1} {n2} and {n3} is: {avg}')

    except Exception as e:
        print(e)

Average()

enter the n1: 2
enter the n2: 3
enter the n3: 4

name 'n333' is not defined

In [ ]:
vishal asked this qn
vishal explored also
vishal told correct answer

there is inhernt talent === many things
you can explore by your own

Captial letters as the varaiblname
can i give small letter
who are stoping you to explore this

employees == explore explore explore
if you fail
if you pass === more

In [26]:
#define the function
#call the function

def Average1():
    n1=eval(input('enter the n1:'))
    n2=eval(input('enter the n2:'))
    n3=eval(input('enter the n3:'))
    avg=round((n1+n2+n3)/3,2)
    print(f'the avg of {n1} {n2} and {n3} is: {avg}')
    Average1()

In [ ]:
# Q1) Wap ask the user enter two numbers from keyboard find the multiplication

# Q2) Wap ask the user enter 3 numbers find the average

# Q3) Wap ask the user enter a bill amount and tip value calculate totalbill

# Q4) Wap ask the user find the area of circle
#     formulae: pi*r*r

# Q5) Wap ask the user find the area of right angle traingle
#    formula : 0.5*b*h

# Q6) Wap ask the user eneter amount in dollars
#     convert into rupees 1$=80rs
#      dollars=eval(input('enter the amount in dollars'))

# Q7) Wap ask the user enter weight in kgs and convert into pounds
#     1kg=2.2pounds

# Q8) Wap ask the user enter bill amount and tip percentage
#     calculate the total bill

In [1]:
def TOTAL_BILL():
    bill_amount=eval(input('enter the bill amount:'))
    tip_amount=eval(input('tip amount'))
    total_amount=bill_amount+tip_amount
    print(f'the total amount is:{total_amount}')

TOTAL_BILL()

enter the bill amount: 10000
tip amount 20

the total amount is:10020

In [3]:
import math
def AREA_OF_CIRCLE():
    pi=math.pi
    radius=eval(input('enter the radius'))
    area_of_circle=pi*radius*radius
    print(f'the area of circle is: {area_of_circle}')

AREA_OF_CIRCLE()

enter the radius 20

the area of circle is: 1256.6370614359173

In [5]:
def AREA_OF_TRAINGLE():
    base=eval(input('enter the base:'))
    height=eval(input('enter the height'))
    area_of_traingle=0.5*base*height
    print(f'the area_of_traingle is:{area_of_traingle}')

AREA_OF_TRAINGLE()

enter the base: 30
enter the height 50

the area_of_traingle is:750.0

In [13]:
print('Addition function called')
ADDITON()
print('=========================')
print('Average function called')
Average1()
print('=========================')
print('Total bill function called')
TOTAL_BILL()
print('=========================')
print('Area of circle function called')
AREA_OF_CIRCLE()
print('=========================')
print('Area of triangle function called')
AREA_OF_TRAINGLE()

Addition function called

enter the n1: 1
enter the n2: 2

the addition of 1 and 2 is : 3
=========================
Average function called

enter the n1: 2
enter the n2: 3
enter the n3: 4

the avg of 2 3 and 4 is: 3.0
=========================
Total bill function called

enter the bill amount: 1000
tip amount 200

the total amount is:1200
=========================
Area of circle function called

enter the radius 1

the area of circle is: 3.141592653589793
=========================
Area of triangle function called

enter the base: 12
enter the height 12

the area_of_traingle is:72.0

In [ ]:
ADDITON()   # no arguments
Average1()  # no arg
TOTAL_BILL() # no arg
AREA_OF_CIRCLE() # no arg
AREA_OF_TRAINGLE() # no rg

In [15]:
import random
random.randint()

In [18]:
def ADDITON():
    n1=eval(input('enter the n1:'))
    n2=eval(input('enter the n2:'))
    add=n1+n2
    print(f"the addition of {n1} and {n2} is : {add}")

ADDITON(20)

TypeError: ADDITON() takes 0 positional arguments but 1 was given

## FUNCTION WITH ARGUMENTS

- qn-1: how many variables are present in addition function : 3

- qn-2: how many input varaibles : 2 n1 and n2

- qn-3: how many output variables : 1  add

- dont touch output variables

In [24]:
def ADDITON_1(n1,n2):
    add=n1+n2
    print(f"the addition of {n1} and {n2} is : {add}")

ADDITON_1(10,20)

the addition of 10 and 20 is : 30

In [26]:
def Average_1(n1,n2,n3):
    avg=round((n1+n2+n3)/3,2)
    print(f'the avg of {n1} {n2} and {n3} is: {avg}')

Average_1(10,20,30)

the avg of 10 20 and 30 is: 20.0

In [30]:
def TOTAL_BILL_1(bill_amount,tip_per):
    tip_amount=bill_amount*tip_per/100
    total_amount=bill_amount+tip_amount
    print(f'the total amount is:{total_amount}')

TOTAL_BILL_1(1000,20)

the total amount is:1200.0

In [34]:
def Average_2(n1):
    print('n1:',n1)
    n2=eval(input('enter the n2:'))
    n3=eval(input('enter the n3:'))
    avg=round((n1+n2+n3)/3,2)
    print(f'the avg of {n1} {n2} and {n3} is: {avg}')
    
Average_2(10)

n1: 10

enter the n2: 20
enter the n3: 30

the avg of 10 20 and 30 is: 20.0

In [36]:
def Average_3(n1,n2):
    print('n1:',n1)
    print('n2:',n2)
    n3=eval(input('enter the n3:'))
    avg=round((n1+n2+n3)/3,2)
    print(f'the avg of {n1} {n2} and {n3} is: {avg}')
    
Average_3(10,20)

n1: 10
n2: 20

enter the n3: 30

the avg of 10 20 and 30 is: 20.0

In [ ]:
def Average():
    n1=eval(input('enter the n2:'))
    n2=eval(input('enter the n2:'))
    n3=eval(input('enter the n3:'))
    avg=round((n1+n2+n3)/3,2)
    print(f'the avg of {n1} {n2} and {n3} is: {avg}')
    
def Average_1(n1):
    print('n1:',n1)
    n2=eval(input('enter the n2:'))
    n3=eval(input('enter the n3:'))
    avg=round((n1+n2+n3)/3,2)
    print(f'the avg of {n1} {n2} and {n3} is: {avg}')
    
def Average_2(n1,n2):
    print('n1:',n1)
    print('n2:',n2)
    n3=eval(input('enter the n3:'))
    avg=round((n1+n2+n3)/3,2)
    print(f'the avg of {n1} {n2} and {n3} is: {avg}')
    

def Average_3(n1,n2,n3):
    avg=round((n1+n2+n3)/3,2)
    print(f'the avg of {n1} {n2} and {n3} is: {avg}')


Average()
Average_1(10)
Average_2(10,20)
Average_3(10,20,30)

- step-1: define the function with code

    - **define function is not enough**

- Step-2: calling the function

- Step-3: the code lines starts executing(running the function)

**Make sure before running the functions values should be ready**

In [40]:
def Average_1(n1):
    print('n1:',n1)
    n2=eval(input('enter the n2:'))
    n3=eval(input('enter the n3:'))
    avg=round((n1+n2+n3)/3,2)
    print(f'the avg of {n1} {n2} and {n3} is: {avg}')

Average_1(10)

n1: 10

enter the n2: 10
enter the n3: 20

the avg of 10 10 and 20 is: 13.33

In [45]:
def Average_1(n1):
    print('n1:',n1)
    n2=eval(input('enter the n2:'))
    n3=eval(input('enter the n3:'))
    avg=round((n1+n2+n3)/3,2)
    print(f'the avg of {n1} {n2} and {n3} is: {avg}')

Average_1(eval(input('enter the n1:')))

enter the n1: 10

n1: 10

enter the n2: 20
enter the n3: 30

the avg of 10 20 and 30 is: 20.0

In [49]:
def Average_1(n1):
    print('n1:',n1)
    n2=eval(input('enter the n2:'))
    n3=eval(input('enter the n3:'))
    avg=round((n1+n2+n3)/3,2)
    print(f'the avg of {n1} {n2} and {n3} is: {avg}')

n1=eval(input('enter the n1:'))

Average_1(n1)

enter the n2: 10

n1: 10

enter the n2: 20
enter the n3: 30

the avg of 10 20 and 30 is: 20.0

In [ ]:
n1=eval(input('enter the n1:'))

def Average_1(n1):
    print('n1:',n1)
    n2=eval(input('enter the n2:'))
    n3=eval(input('enter the n3:'))
    avg=round((n1+n2+n3)/3,2)
    print(f'the avg of {n1} {n2} and {n3} is: {avg}')

Average_1(n1)

In [51]:
def Average_1(N1):
    print('n1:',N1)
    N2=eval(input('enter the n2:'))
    N3=eval(input('enter the n3:'))
    avg=round((N1+N2+N3)/3,2)
    print(f'the avg of {N1} {N2} and {N3} is: {AVG}')

Average_1(N1)


N1=eval(input('enter the n2:'))

NameError: name 'N1' is not defined

In [1]:
# write a code if and else
# even and odd
# with arguments and with out arguments

import random
num=random.randint(1,100)
if num%2==0:
    print(f"{num} is an even")
else:
    print(f"{num} is an odd")

15 is an odd

In [5]:
import random
def even_odd1():
    num=random.randint(1,100)  # local
    if num%2==0:
        print(f"{num} is an even")
    else:
        print(f"{num} is an odd")

even_odd1()

57 is an odd

In [11]:
import random
def even_odd2(num):
    if num%2==0:
        print(f"{num} is an even")
    else:
        print(f"{num} is an odd")

even_odd2(random.randint(1,100))  # local

31 is an odd

In [13]:
import random

def even_odd2(num):
    if num%2==0:
        print(f"{num} is an even")
    else:
        print(f"{num} is an odd")
        
num=random.randint(1,100)  # global

even_odd2(num)

57 is an odd

In [15]:
import random
num=random.randint(1,100)  # global
def even_odd3(num):
    if num%2==0:
        print(f"{num} is an even")
    else:
        print(f"{num} is an odd")

even_odd3(num)

15 is an odd

In [19]:
import random
def even_odd4(NUM):
    if NUM%2==0:
        print(f"{NUM} is an even")
    else:
        print(f"{NUM} is an odd")

even_odd4(NUM)

NUM=random.randint(1,100) # Global

NameError: name 'NUM' is not defined

In [ ]:
def even_odd2(num):
    if numnum%2==0:
        print(f"{num} is an even")
    else:
        print(f"{num} is an odd")

In [ ]:
import random

def even_odd2(num):
    if num %2 ==0:
        print(num)
        print('even')
    else:
        print(num)
        print('odd')

even_odd2(num)
num=random.randint(1,1000)

In [21]:
def TOTAL_TAX():
    salary=eval(input('enter the salary:'))
    tax_per=eval(input('enter the tax_per'))
    tax_amount=salary*tax_per/100
    print(f'the tax amount is:{tax_amount}')

TOTAL_TAX()

enter the salary: 10000
enter the tax_per 10

the tax amount is:1000.0

In [23]:
def TOTAL_TAX1(salary,tax_per):
    tax_amount=salary*tax_per/100
    print(f'the tax amount is:{tax_amount}')

TOTAL_TAX1(10000,5)

the tax amount is:500.0

**Default arguments**

- default argument means the value fixed

- no need of provide while calling

- if we provide while calling it takes that value only

- in below example tax_per is a default argument

In [34]:
def TOTAL_TAX2(salary,tax_per=20):
    tax_amount=salary*tax_per/100
    print(f'the tax amount is:{tax_amount}')

TOTAL_TAX2(10000)

# step-1: def function === tax_per=20
# step-2: call the function === 20
# step-3: run the function  === 20

the tax amount is:2000.0

In [36]:
def TOTAL_TAX2(salary,tax_per=20):
    tax_amount=salary*tax_per/100
    print(f'the tax amount is:{tax_amount}')

TOTAL_TAX2(10000,30)

# step-1: def function  ====== tax_per=20
# step-2: call the function === tax_per=30
# step-3: run the function  === 30

the tax amount is:3000.0

In [32]:
def TOTAL_TAX2(salary,tax_per=20):
    tax_per=40
    tax_amount=salary*tax_per/100
    print(f'the tax amount is:{tax_amount}')

TOTAL_TAX2(10000,30)

# step-1: def function  ====== tax_per=20
# step-2: call the function === tax_per=30
# step-3: run the function === tax_per=40

the tax amount is:4000.0

In [38]:
# case-1:
def add(a,b,c):
    print(a+b+c)
add(10,20,30)

60

In [40]:
# case-2:
def add(a,b,c=100):
    print('a:',a)
    print('b:',a)
    print('c:',a)
    print(a+b+c)
add(10,20)

a: 10
b: 10
c: 10
130

In [42]:
# case-3:
def add(a,b=200,c):
    print('a:',a)
    print('b:',a)
    print('c:',a)
    print(a+b+c)
add(10,20)

SyntaxError: parameter without a default follows parameter with a default (1425038266.py, line 2)

**Note: default parameters at last**

In [ ]:
def add(a,c,b=200):
    print('a:',a)
    print('b:',a)
    print('c:',a)
    print(a+b+c)
add(10,20)

In [ ]:
a,b,c=100   # w
a,b=100,c   # f
a=200,b,c   # f
a,b=100,c=200 # w
a=100,b,c=200 # f 
a=100,b=200,c # f
a=100,b=200,c=300 # w

In [45]:
def add(a,b=200,c):
    print('a:',a)
    print('b:',a)
    print('c:',a)
    print(a+b+c)
add(a=10,c=20)

SyntaxError: parameter without a default follows parameter with a default (3712362325.py, line 1)

In [47]:
def add(a,c,b=200):
    print('a:',a)
    print('b:',a)
    print('c:',a)
    print(a+b+c)
add(a=10,c=20)

a: 10
b: 10
c: 10
230

In [51]:
def add(a,b,c=100):
    print('a:',a)
    print('b:',a)
    print('c:',a)
    print(a+b+c)
c=400 
add(100,200,300)

# def ==== c=100
# c=400
# while calling c=300

a: 100
b: 100
c: 100
600

In [53]:
def add(a,b):
    print('a:',a)
    print('b:',b)
    print('c:',c)
    print(a+b+c)
c=400 
add(100,200)

a: 100
b: 200
c: 400
700

In [55]:
def add(a,b):
    c=700
    print('a:',a)
    print('b:',b)
    print('c:',c)
    print(a+b+c)
c=400
add(100,200)

# step-1: define ==== c=NO
# step-2: globa c=400
# step-3: while calling   C is not give 400
# step-4: running  c=700

a: 100
b: 200
c: 700
1000

In [57]:
c=800
def add(a,b):
    c=700
    print('a:',a)
    print('b:',b)
    print('c:',c)
    print(a+b+c)
c=400
add(100,200)
# c=800 ==== c=400 ==== c=700

a: 100
b: 200
c: 700
1000

In [59]:
c=800
def add(a,b):
    c=700
    print('a:',a)
    print('b:',b)
    print('c:',c)
    print(a+b+c)
c=400
add(100,200,900)

TypeError: add() takes 2 positional arguments but 3 were given

In [63]:
def add(A,B):
    print('a:',A)
    print('b:',B)
    print('c:',C)
    print(A+B+C)
add(100,200)
C=700

a: 100
b: 200

NameError: name 'C' is not defined

In [65]:
c=800
def add(a,b,c):
    c=700
    print('a:',a)
    print('b:',b)
    print('c:',c)
    print(a+b+c)
c=400
add(100,200,900)

# 800====400==900====700

a: 100
b: 200
c: 700
1000

In [67]:
c=800
def add(a,b,c=1000):
    c=700
    print('a:',a)
    print('b:',b)
    print('c:',c)
    print(a+b+c)
c=400
add(100,200,900)
# 800 ==== 10000 === 400 === 900 === 700

a: 100
b: 200
c: 700
1000

In [69]:
c=800
def add(a,b,c=1000):
    print('a:',a)
    print('b:',b)
    print('c:',c)
    print(a+b+c) # 100+200+900=1200
    c=1200
c=400
add(100,200,900)

# c=800 === 1000===400===900

a: 100
b: 200
c: 900
1200

**global and local variales**

- the variables which are intialised out side the function called as **global variables**

    - global variables can be use out side the function

    - global varaiables can be use in side the function

- local variables are intilaised inside the function only

    - local variables can not use outside the function

In [82]:
n1=100
n2=200

def ADD():
    print('n1:',n1)
    print('n2:',n2)
    summ=n1+n2
    print(summ)

ADD()

n1*n2

n1: 100
n2: 200
300

20000

In [84]:
def ADD1():
    N1=100
    N2=200
    print('N1:',N1)
    print('N2:',N2)
    SUMM=N1+N2
    print(SUMM)

ADD1()

N1*N2

N1: 100
N2: 200
300

NameError: name 'N1' is not defined

In [86]:
n1=100
n2=200
def ADD():
    print('n1:',n1)
    print('n2:',n2)
    summ=n1+n2
    print(summ)

ADD()

n1: 100
n2: 200
300

In [88]:
summ

NameError: name 'summ' is not defined

In [90]:
n1=100
n2=200
def ADD():
    global summ
    print('n1:',n1)
    print('n2:',n2)
    summ=n1+n2
    print(summ)

ADD()

n1: 100
n2: 200
300

In [92]:
summ

300